<div *ngIf="fireService.user == null">
  <input placeholder="Email" type="email" [(ngModel)]="email">
  <input placeholder="Password" type="password" [(ngModel)]="password">
  <br>
  <button (click)="fireService.signIn(email, password)">Sign in</button>
  <button (click)="fireService.signUp(email, password)">Sign up</button>
</div>

<div *ngIf="fireService.user">
  <h1>Hello {{fireService.user.email}}!
    <img (click)=fileInput.click() [src]="fireService.avatarURL" height="60" width="60" alt="The logged in user's avatar">
    <input hidden #fileInput type="file" (change)="fireService.updateAvatarOfSignedInUser(fileInput!.files![0]!)">
    <button (click)="fireService.signOut()">Sign out</button>
  </h1>

  <input [(ngModel)]="content">

  <button (click)="fireService.sendMessage(content)">Send message</button>

  <p *ngFor = "let message of fireService.messages">
    {{message | json}}
  </p>
</div>
